<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404!11!!1</title>
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p><strong>Page not found</strong></p>
        <p>The <strong class="editing404Text"><%= route %></strong> page you were looking for was not found... Check the page name or this page may have been deleted before.</p>
    </div>
</body>
</html>