* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: #333;
    background-color: #eee;
    user-select: none;
}

div {
    display: block;
}

.container {
    margin: 50px auto;
    width: 500px;
    text-align: center;
}

div > img.editing404Image {
    height: 300px;
    width: 100%;
}

h1 {
    text-shadow: 0 5px 0 #fff;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 60px;
}

p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}


strong.errorFilename {
    color: #444;
    font-size: x-large;
    font-weight: 600;
}

strong.editingPNFText {
    color: #333;
}

div.suggestions a {
    color: #333;
    font-size: 16px;
}