html {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

div {
    display: block;
}

.container {
    margin: 50px auto;
    width: 500px;
    text-align: center;
}

div > img.editing404Image {
    height: 300px;
    width: 100%;
}

h1 {
    text-shadow: 0 5px 0 #fff;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 60px;
}

p {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}

strong.editing404Text {
    color: #444;
    font-size: x-large;
    font-weight: 600;
}

strong.editingPNFText {
    color: #333;
}

div.suggestions a {
    color: #333;
    font-size: 16px;
}