* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body.www_homepage {
    background-color: #3178c6;
    color: #ffffff;
}

.www_container-home {
    padding: 50px 0 0 0;
    text-align: center;
}

div.www_container-home > div.www_container > h1.www_who-weh {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 200;
}

div.desc {
    margin-top: 20px;
}

div > p.www_pdesc {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: 400;
    font-size: 16px;
    color: #d0d7de;
}

.www_weh-gh-my-site-repo {
    border-radius: 20px;
}

.www_footer-container {
    background-color: #126baf;
    padding: 50px;
    height: 200px;
    font-size: smaller;
}

.www_download-repo {
    color: #fff;
    font-size: 14px;
    text-decoration: dashed;
}

.www_mt-1 {
    margin-top: 2em;
}

.www_mt-image {
    margin-top: 10em;
}

h1 {
    font-weight: 300;
}

/* logo */
.www_ml-1-weh {
    margin-left: 16px !important;
}

.www_mg-2-weh {
    margin-left: 32px;
}

.www_mg-3-weh {
    margin-left: 64px;
}

div.www_featureimage {
    text-align: center;
    padding: 50px;
}

.www_provide-5em {
    padding-right: 5em;
}