* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body.homepage {
    background-color: #3178c6;
    color: #fff;
}

.container-home {
    padding: 50px 0 0 0;
    text-align: center;
}

div.container-home > div.container > h1.who-weh {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 200;
}

div.desc {
    margin-top: 20px;
}

div > p.pdesc {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: 400;
    font-size: 16px;
    color: #d0d7de;
}

.weh-gh-my-site-repo {
    border-radius: 20px;
}

.download-repo {
    color: #fff;
    font-size: 14px;
    text-decoration: dashed;
}

.open-source-G {
    font-size: 14px;
}

.mt-1 {
    margin-top: 2em;
}

.mt-image {
    margin-top: 10em;
}

h1 {
    font-weight: 300;
}

/* logo */
.ml-1-weh {
    margin-left: 16px !important;
}

.mg-2-weh {
    margin-left: 32px;
}

.mg-3-weh {
    margin-left: 64px;
}

div.featureimage {
    text-align: center;
    padding: 50px;
}

.provide-5em {
    padding-right: 5em;
}