* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.www_avatar {
    display: inline-block;
    height: 64px;
    width: 64px;
    border-radius: 50% !important;
    border: 1px solid #20252c;
    margin-top: 3px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    background-color: #3178c6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.www_nav-links {
    text-align: center !important;
    display: flex;
    justify-content: space-between;
    padding-right: 9em;
}

.www_nav-links li {
    list-style: none;
}

.www_nav-links a {
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    letter-spacing: 2px;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    border-bottom: 4px solid transparent;
}

.www_nav-links a:hover {
    color: #eee;
}

.www_nav-links-bg a:hover {
    empty-cells: show;
}

.www_burger {
    display: none;
    cursor: pointer;
}

.www_burger div {
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .www_nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .www_nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #444;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;    
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .www_nav-links li {
        opacity: 0;
    }

    .www_burger {
        display: block;
    }
}

.www_nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.www_toogle .www_line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.www_toogle .www_line2 {
    opacity: 0;
}

.www_toogle .www_line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}